:root {
  --primary-color: #40457d;
  --secondary-color: #777a99;
  --tertiary-color: #f5efe7;
  --text-color: #231f20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 50px;
}

section {
  margin: 30px 0;
}

::selection {
  background-color: #40457d;
  color: #f5efe7;
}

/* ? --- Font --- */
@font-face {
  font-family: Bahji;
  src: url("/Font/Bahij\ The\ Sans\ Arabic\ Semi\ Light\ -\ [UrduFonts.com].ttf")
    format("truetype");
}

/* ? --- Body --- */
body {
  font-family: Bahji, Arial, Helvetica, sans-serif;
  background-image: url("../Images/background.png");
  background-size: cover;
  background-attachment: fixed;
  /* لون أبيض مع شفافية */
}

/* --- Header --- */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Nav Bar */
nav {
  padding: 10px 30px;
  background-color: var(--tertiary-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* List */
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav ul li {
  margin-right: 45px;
}

/* Images */
nav .logo-nav {
  width: 55px;
  height: 45px;
}

/* Nav Links */
nav li a {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s;
  &:hover {
    color: var(--primary-color);
    padding: 6px;
  }
}

/* --- Main --- */

/* Welcome Section */
main section:nth-child(1) {
  text-align: center;
}

/* Heading 1 */
h1 {
  font-size: 50px;
  color: var(--text-color);
  margin-bottom: 60px;
}
h1 span {
  color: var(--primary-color);
  font-weight: 900;
}

/* Paragraph - Section 1 */
.quot {
  display: inline;
  font-size: 30px;
  color: var(--text-color);
  background: linear-gradient(
    to bottom,
    var(--secondary-color),
    var(--tertiary-color)
  );
  font-weight: 600;
}

/* start how we help section */
.how-we-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.name-team {
  color: #40457d;
  font-size: 20px;
}

.hr-how-we-help {
  width: 60px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
}

.cards-how-we-help {
  /* height: 350px; */
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 50px;
  padding: 10px 0;
  margin-top: 5px;
}

.icon-card {
  width: 70px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  gap: 5px;
  border-radius: 10px;
  width: 370px;
  height: 290px;
  padding: 0 10px;
  box-shadow: 1px 1px 20px 0.01px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.1s ease-in-out;
  animation: zoomIn 0.8s ease-out forwards;
  cursor: pointer;
}

.card:hover {
  background-color: #eaebf0;
  scale: 1.05;
}

.card-title {
  font-size: x-large;
}
.card-text {
  color: var(--text-color);
  font-size: large;
}
.card:nth-child(1) {
  animation-delay: 0.3s;
}
.card:nth-child(2) {
  animation-delay: 0.2s;
}
.card:nth-child(3) {
  animation-delay: 0.3s;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#card-top {
  align-self: start;
}

/* end how we help section */

/* start footer section */

footer {
  display: flex;
  flex-direction: column;
  background-color: #40457d;
  align-items: center;
  color: white;
}

.hr-footer {
  margin-top: 30px;
  width: 80%;
}
.copy {
  padding: 20px;
  color: white;
}

.logo-footer {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100px;
}

.logo-footer-img {
  width: 90px;
}

.text-footer {
  color: white;
}

.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
  padding: 10px;
}

.content-footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.icon-footer {
  width: 40px;
  background-color: #eaebf0;
  border-radius: 5px;
  color: #40457d;
}

.icons-footer {
  display: flex;
  gap: 60px;
}

li {
  list-style: none;
  margin: 5px 0;
}

ul {
  margin-top: 20px;
}

li > a {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 0.1s ease-in-out;
  &:hover {
    color: var(--secondary-color);
  }
}

/* end footer section */

/*section 2*/

.section_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin-top: 130px;
  color: var(--secondary-color);
}
.section_word {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--text-color);
  font-weight: 400px;
}

.section_line {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hr1 {
  width: 130px;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 99px;
  margin-top: 9px;
}

.goal_content {
  display: flex;
  align-items: center;
  text-align: center;

  /* gap: 50px; */
  /* height: 400px; */
}

.goal_photo {
  width: 50%;
  padding-top: 70px;
}

.goal_text {
  /* display: flex; */
  padding: 10px 0px 0px 12px;
  margin-left: 70px;
  color: var(--text-color);
  font-size: 28px;
  line-height: 60px;
  width: 50%;
  text-align: right;
}

.title_goal_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

/*section 3*/

.section_services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* height: 809px; */
  height: 100%;
  /* margin: 50px; */
}

.title_service_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.section_title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: var(--secondary-color);
}
.section_word2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--text-color);
  font-weight: 400px;
}

.section_line2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hr2 {
  width: 130px;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 99px;
  margin-top: 9px;
}

.description_service {
  display: flex;
  gap: 300px;
  height: 88px;
  margin: 30px;
  /* padding: 0px 60px 0px 60px; */
}

#text_service {
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
  padding: 0px 60px 0px 60px;
  margin-top: 16px;
  text-align: center;
  line-height: 44px;
  /* margin-bottom: 16px; */
}

.content_service {
  display: flex;
  gap: 50px;
  height: 100%;
}

.iamge_service {
  width: 50%;
}

.cards_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: 708px; */
  height: 100%;
  width: 50%;
  padding: 0px 12px 0px 12px;
}

.cards {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 12px #d2d5d57a;
  border-radius: 16px;
  padding: 20px;
  margin-top: 16px;
  width: 100%;
}

.cards:hover {
  background-color: #eaebf0;
  scale: 1.05;
}

.iconss {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
  padding: 12px;
  border-radius: 16px;
  width: 112px;
  height: 85px;
}

.textt {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 500px;
  margin-right: 20px;
  text-align: right;
}

@media (max-width: 768px) {
  .goal_photo {
    display: none;
  }

  .goal_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0%;
  }

  .iamge_service {
    display: none;
  }

  .description_service {
    display: flex;
    padding: 0%;
  }

  #text_service {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    padding: 0%;
  }
  .cards_div {
    width: 100%;
  }
  .content_service {
    margin-top: 90px;
  }
}

/* Start media query */

@media (min-width: 768px) {
  .content-footer {
    flex-direction: row;
    justify-content: center;
    gap: 300px;
  }

  .cards-how-we-help {
    height: 350px;
    flex-direction: row;
  }
}

/* End media query */
